<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="specBind" type="SpecBind.Configuration.ConfigurationSectionHandler, SpecBind" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider --><unitTestProvider name="SpecRun" /><plugins>
      <add name="SpecRun" />
      <add name="SpecBindGeneratorPlugin" type="Generator" />
    </plugins>
  <stepAssemblies>
  <stepAssembly assembly="SpecBind" />
  </stepAssemblies>
  </specFlow>
  <appSettings>
    <add key="Browser" value="FireFox" />
    <add key="Username" value="venkat.lodari@gmail.com" />
    <add key="Password" value="kalyani11" />
    <add key="Trellohomeurl" value="https://trello.com" />
    <add key="ImplicitlyWait" value="20" />
    <add key="PageLoadTimeout" value="10" />
    <add key="TrelloBoardName" value="Employee OnBoarding" />
    <add key="APIBaseURL" value="https://api.trello.com/" />
    <add key="APIResourceURL" value="1/boards/" /> 
    <add key="Access_Key" value="09c49671492fa2486355abb97285e835" />
    <add key="OAuthToken" value="c95cf62ae7a03976e766871ed773a0e024eaa9411f17ec7cf9fdd84a6e0604c4" />
    <add key="BoardID" value="H1BnS99I" />
    <add key="NewBoardName" value="Knab Assignment" />
    <add key="NewBoardID" value="H1BnS99I" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow.Generator" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow.Parser" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow.Utils" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <specBind>
    <!-- For additional details on SpecBind configuration options see the project site. -->
    <browserFactory provider="" browserType="IE" />
  </specBind>
</configuration>